<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item p-3 ">
        <h5><%= link_to 'Index', root_path %></h5>
      </li>
      <li class="nav-item p-3">
        <h5><%= link_to 'Landing', pages_landing_path %></h5>
      </li>
    </ul>
  </div>
</nav>
