

<div class="row">
  <div class="col-4">
    <h1>Nombre</h1>
  </div>
  <div class="col-4">
    <h1>Edad</h1>
  </div>
  <div class="col-4">
    <h1>Email</h1>
  </div>
  <% @students.each do |student| %>
    <div class="col-4">
      <h3><%= student.name %></h3>
    </div>
    <div class="col-4">
      <h3><%= student.age %></h3>
    </div>
    <div class="col-4">
      <h3><%= student.email %></h3>
    </div>
  <% end %>
</div>
